.Home {
    /* min-height: 84vh; */
}

.BackgroundWrapper {
    display: flex;
    justify-content: center;
    overflow: hidden;
    height: 100vh;
}

.BackgroundWrapper img{
    /* width: 100%; */
	/* overflow: hidden; */
	/* text-align: center; */
}

/*  */
.moduleLayer {
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    /* top:25%; */
    padding: 5vh 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.moduleHeading {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 2vh;
}

.moduleDescription {
    font-size: 16px;
    font-weight: 450;
    margin-bottom: 2vh;
}

.moduleLink {
    width: 100%;
    background-color: white;
    box-sizing: border-box;
}
.moduleLink a {
    padding: 1.5vh 0;
    display: block;
    font-size: 18px;
    text-decoration: none;
}

.moduleLink a:hover {
    box-shadow: 5px 10px rgba(55, 79, 61, 0.194);
}
/* Centered text */
.centered { 
    width: 225px;
    position: absolute;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
    top: 25%;
    left : 50%;
    transform: translate(-50%, -50%);
    font-size: 32px;
    /*color: rgb(1, 7, 12);*/
    padding: 1vh 1vw;
    border-radius: 8px;
    color: white;
    background-color: rgba(4, 0, 10, 0.815);
}

.title {
    text-align: center;
    font-size: 18px;
}

.shop a b:hover {
   border: 2px solid grey;
}

.centered a{ 
    text-align: center;
}
.shop a b{ 
    background-color: rgb(255, 255, 255);
    font-size: 16px;
    color: rgb(4, 0, 10);
    padding: 1vh 1vw;
    margin: 0vh 0vw;
    border-radius: 8px;
    cursor: pointer;
    border:2px solid white
}

.shop {
    /* text-align: center; */
    margin: 0vh 0vw 0;
}

.statement {
    text-align: center;
    background-color: aquamarine;
    margin: 0 0 3vh;
    padding: 3vh 0;
    font-size: 16px;

}

.PageWrapper{
    min-height: auto;
}
.description{
    margin: 1vh 0;
    font-size: 12px;
}

@media only screen and (min-width: 600px) {
    /* For tablets: */
    .Home {

    }
    .centered {
        padding: 2vh 1vw;
        width: 370px;
        top: 25%;
        left : 35%;
    }
    .shop a b{ 
        font-size: 24px;
    }
    .description {
        font-size: 24px;
    }
    .title {
        font-size: 32px;
    }
}

@media only screen and (min-width: 1025px) {
    /* For desktop: */
    .Home {
   
   }
    .centered {
        width: 570px;
        padding: 3vh 2vw;
        top: 40%;
        left : 30%;
    }

    .shop {
        padding: 1vh 1vw;
    }
    .shop a b{ 
        font-size: 32px;
    }
    .description {
        font-size: 32px;
    }
    .title {
        font-size: 48px;
    }
}